#!/usr/bin/env bash
# shellcheck shell=bash

if [ -n "${CI:-}" ]; then
    echo "Skipping due to \$CI"
    exit
fi

# bat config dir hash: {{ output "sh" "-c" "find ~/.config/bat -type f -exec sha256sum {} + 2>/dev/null | sort | sha256sum" }}

if command -v bat &>/dev/null; then
    bat cache --build
fi
