{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

dockutil --add '/Applications/iTerm.app' --after Finder --replacing iTerm
dockutil --add '/Applications/Visual Studio Code.app' --after iTerm --replacing 'Visual Studio Code'
dockutil --add '/Applications/Google Chrome.app' --after 'Visual Studo Code' --replacing 'Google Chrome'
dockutil --add '/Applications/Slack.app' --after 'Google Chrome' --replacing 'Slack'
dockutil --add '/Applications/Microsoft Outlook.app' --after Slack --replacing 'Microsoft Outlook'

defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
{{- end }}
