{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

echo "## Installing Homebrew applications"
[[ -f ~/.Brewfile ]] && brew bundle --global

if command -v helm >/dev/null 2>&1; then
  echo "## Installing Helm plugins"
  helm plugin install https://github.com/jkroepke/helm-secrets
fi

mkdir -p ~/.kube
touch ~/.kube/config

if command -v kubectl krew >/dev/null 2>&1; then
  export KREW_ROOT={{ .krew.rootDir }}

  echo "## Installing kubectl plugins"
  kubectl krew install get-all
fi

if command -v pyenv >/dev/null 2>&1; then
  export PYENV_ROOT={{ .pyenv.rootDir }}
  export PYENV_VERSION={{ .pyenv.globalVersion }}

  echo "## Installing global Python $PYENV_VERSION"
  pyenv install $PYENV_VERSION
  pyenv rehash
  pyenv global $PYENV_VERSION

  eval 'pyenv init --path'
fi

if command -v pipx >/dev/null 2>&1; then
  export PIPX_HOME={{ .pipx.homeDir }}

  echo "Installing Python tools"
  pipx install pip-autoremove
  pipx install pipdeptree
fi

curl -fsSL https://install.python-poetry.org | python3 -
curl -sSL https://raw.githubusercontent.com/pdm-project/pdm/main/install-pdm.py | python3 -

# curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash

mkdir -p ~/go/bin

# Change shell to Homebrew-installed Zsh
grep -q $(brew --prefix)/bin/bash /etc/shells || echo $(brew --prefix)/bin/bash | sudo tee -a /etc/shells
grep -q $(brew --prefix)/bin/zsh /etc/shells || echo $(brew --prefix)/bin/zsh | sudo tee -a /etc/shells
chsh -s $(brew --prefix)/bin/zsh

# Add & arrange applications on Dock
dockutil --add '/Applications/iTerm.app' --after Finder --replacing iTerm
dockutil --add '/Applications/Visual Studio Code.app' --after iTerm --replacing 'Visual Studio Code'
dockutil --add '/Applications/Google Chrome.app' --after 'Visual Studo Code' --replacing 'Google Chrome'
dockutil --add '/Applications/Slack.app' --after 'Google Chrome' --replacing 'Slack'
dockutil --add '/Applications/Microsoft Outlook.app' --after Slack --replacing 'Microsoft Outlook'

defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false

mkdir -p ~/.1password && ln -sf ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock ~/.1password/agent.sock
{{- end }}
