#!/usr/bin/env bash
# shellcheck shell=bash

# skills config hash: {{ .skillPackages | toJson | sha256sum }}

if [ -n "${CI:-}" ]; then
    echo "Skipping due to \$CI"
    exit
fi

{{ range .skillPackages -}}
npx skills@latest add {{ .id }} --agent universal --global{{ range .skills }} --skill '{{ . }}'{{ end }} --yes
{{ end -}}
