#!/bin/sh
# shellcheck shell=bash

export PATH="/opt/homebrew/bin:/usr/local/bin${PATH+:$PATH}"

{{ if not (lookPath "brew") }}
# Prompt for and remember password
echo "Prompting for sudo password..."
sudo --validate
while true; do
    sudo -n true
    sleep 60
    kill -0 "$$" || exit
done &>/dev/null &

echo "Installing Homebrew..."
NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end }}

export HOMEBREW_BUNDLE_FILE=~/.config/homebrew/Brewfile
if ! brew bundle check &>/dev/null; then
  echo "Installing Homebrew packages..."
  brew bundle install --no-lock
fi  
