#!/usr/bin/env bash
# shellcheck shell=bash

if [ -n "${CI:-}" ]; then
    echo "Skipping due to \$CI"
    exit
fi

# Claude plugins config hash: {{ .claudePlugins | toJson | sha256sum }}

echo "Installing Claude plugins..."
{{ range .claudePlugins -}}
{{ if ne .marketplace "claude-plugins-official" -}}
claude plugin marketplace add {{ .marketplace }}
{{ end -}}

{{- $stub := .marketplace | splitList "/" | last }}
{{ range .plugins -}}
claude plugin install {{ . }}@{{ $stub }}
{{ end -}}
{{ end -}}
