#!/usr/bin/env bash
# shellcheck shell=bash

if [ -n "${CI:-}" ]; then
    echo "Skipping due to \$CI"
    exit
fi

# gh extensions config hash: {{ .ghExtensions | toJson | sha256sum }}

{{ range .ghExtensions -}}
gh extension install {{ .id }}
{{ end -}}
