{{- $email := "" }}
{{- $work := promptBool "work" -}}
{{- if $work }}{{ $email = promptString "email" }}{{ end -}}

[data]
  email = {{ default "mgoodness@gmail.com" $email | quote }}
  work = {{ $work }}
