tap 'beeftornado/rmtree'
tap 'cue-lang/tap'

brew 'argocd'
brew 'bash'
brew 'bat'
brew 'coreutils'
brew 'cue-lang/tap/cue'
brew 'curl'
brew 'diffutils'
brew 'docker'
brew 'exa'
brew 'fd'
brew 'fzf'
brew 'gh'
brew 'git'
brew 'git-fresh'
brew 'gnu-sed'
brew 'gnu-tar'
brew 'gnupg2'
brew 'helm'
brew 'httpie'
brew 'java'
brew 'jq'
brew 'krew'
brew 'kubernetes-cli'
brew 'kustomize'
brew 'less'
brew 'minikube'
brew 'moreutils'
brew 'nvim'
brew 'openssl'
brew 'pipx'
brew 'pyenv'
brew 'ripgrep'
brew 'skaffold'
brew 'sops'
brew 'starship'
brew 'stern'
brew 'tfenv'
brew 'vault'
brew 'watch'
brew 'wget'
brew 'yq'
brew 'zoxide'
brew 'zsh'

# brew 'dep'
# brew 'glide'
# brew 'go'
# brew 'protobuf'
# tap 'golangci/tap'
# brew 'golangci/tap/golangci-lint'

# tap 'dtan4/tools'
# brew 'dtan4/tools/ghrls'

{{- if (eq .chezmoi.os "darwin") }}

tap 'homebrew/cask'
tap 'homebrew/cask-drivers'
tap 'homebrew/cask-fonts'

brew 'dockutil'
brew 'hyperkit'
brew 'pinentry-mac'

cask 'caffeine'
cask 'font-fira-code'
cask 'font-fira-code-nerd-font'
cask 'google-cloud-sdk'
cask 'google-drive'
cask 'iterm2'
cask 'keybase'
cask 'visual-studio-code'
cask 'yubico-yubikey-manager'

## MLB-managed
# cask '1password'
# cask 'google-chrome'
# cask 'slack'
# cask 'zoom'
{{- end }}
