{{- if .work -}}
Host github.mlbam.net
  User git
  ControlMaster no
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_rsa.pub
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
{{- end }}

Host bcrow-nation.com
  User charnoth
  ControlMaster no
  IdentitiesOnly yes
  Port 922
  IdentityFile ~/.ssh/id_rsa.pub
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

Include ~/.ssh/drduh_config
