{
  "theme": "catppuccin-latte/catppuccin-frappe",
  "defaultProvider": "openrouter",
{{- if .mlb }}
  "defaultModel": "anthropic/claude-sonnet-5",
  "defaultThinkingLevel": "high"
{{- else }}
  "defaultModel": "~deepseek/deepseek-flash-latest",
  "defaultThinkingLevel": "high"
{{- end }},
  "packages": [
    "npm:@gotgenes/pi-anthropic-auth"
  ]
}
