{{ if .mlb -}}
[secrets]
DEEPSEEK_API_KEY = { provider = "onepass_personal", value = "op://Private/DeepSeek API Key/credential" }
OPENCODE_API_KEY = { provider = "onepass_personal", value = "op://Private/OpenCode API Key/credential" }
OPENROUTER_API_KEY = { provider = "onepass_personal", value = "op://Private/OpenRouter API Key/credential" }
{{ end -}}
